html{
	height: 100%;
	font-size: 100%;
}

.navbar{
	position: fixed;
	background-color: #FF4747;
	height: 100%;
	width: 300px;
	left: auto;
	top: 0;
	left: 0;
}

h1 {
	font-weight: bold;
	position: relative;
	left: 1rem;
}

.room-list {
	position: relative;
	font-size: 1.5rem;
	left: 1rem;
}

.room-item {
	color: black;
}

.new-room {
	position: fixed;
	left: 12.5rem;
	top: 1.3rem;
}

.button {
	height: 2.5rem;
	font-weight: bold;
	background-color: white;
	border-color: black;
	border-width: 3px;
}