<h1>Bloc Chat</h1>

<div class="new-room">
	<button type="button" class="button" ng-click="main.open()">New Room</button>
</div>

<div class="room-list">
	<div ng-repeat="room in main.chatRooms">
		<a class="room-item" ng-click="main.setRoom(room)">{{room.name}}</a>
	</div>
</div>

<section class="chat-window" ng-show="main.roomTitle != null">
	<h2 class="room-title">{{ main.roomTitle }}</h2>
	
	<div class="msg-container">
		<div class="msg-list" ng-repeat="message in main.messages">
			<div class="username">{{ message.username }}</div>
			<div class="msg-content">{{ message.content }}</div>
		</div>
	</div>
	
	<div class="new-msg-container">
		<button class="send-button" type="button" ng-click="main.sendMessage(main.activeRoom)">Send</button>
		<input class="send-input" type="text" ng-model="main.newMessage"></input>
	</div>
</section>
